Pablo Alejandro Aguirre Higuera

Matrícula: 263845

**Práctica #14. Limpieza y Transformación de Datos Categóricos**

15/09/2025

**01: Errores Tipográficos y Valores Inconsistentes: maritalstatus**

In [1]:
import pandas as pd

df = pd.read_csv('nls97.csv')
print(df['maritalstatus'].unique())

['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']

In [2]:
print(df['maritalstatus'].value_counts())
print("\nNúmero de valores nulos\n", df['maritalstatus'].isnull().sum())

maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

Número de valores nulos
 2312

In [3]:
df['maritalstatus'] = df['maritalstatus'].replace("Never-married", "Single")
print(df['maritalstatus'].value_counts())

maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

Todos los valores "Never-married" se han cambiado a "Single"

**02: Errores Tipográficos y Valores Inconsistentes: highestdegree**

In [4]:
print(df['highestdegree'].unique())

['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]

In [5]:
print(df['highestdegree'].value_counts().sort_index())
print("\nNúmero de valores nulos\n", df['highestdegree'].isnull().sum())

highestdegree
0. None             953
1. GED             1146
2. High School     3667
3. Associates       737
4. Bachelors       1673
5. Masters          603
6. PhD               54
7. Professional     120
Name: count, dtype: int64

Número de valores nulos
 31

In [15]:
df['highestdegree'] = df['highestdegree'].replace(to_replace=r"\d[.]\s", value="", regex=True)
df['highestdegree'] = df['highestdegree'].str.lower()

print(df['highestdegree'].unique())

['high school' 'none' 'bachelors' 'associates' 'masters' 'ged'
 'professional' 'phd' nan]

Se han eliminado los números antes de los niveles de escolaridad. Y todos están en minúsculas

**03: Alta Cardinalidad - Frecuencias Bajas**

In [7]:
df["marital_grouped"] = df["maritalstatus"].replace(["Widowed", "Single"], "Single/No Partner")
print(df["marital_grouped"].unique())

['Married' 'Single/No Partner' nan 'Divorced' 'Separated']

In [8]:
print(df["marital_grouped"].value_counts())

marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

**04: Tipos de Datos**

In [9]:
print(df['gender'].dtype)

object

In [10]:
gender_object = df['gender'].memory_usage(deep=True)
print(gender_object)

485054

In [11]:
df['gender'] = df['gender'].astype('category')

gender_category = df['gender'].memory_usage(deep=True)
print(gender_category)

9332

Al usar el tipo de dato categoría, disminuye bastante el consumo de memoria